@use "variables/shared";

.App {
  text-align: center;
}
main {
  display: grid;
  grid-template-areas:
    "income expenses saving"
    "income expenses saving"
    ". balance .";
  gap: 0.5em;
  max-width: 80%;
  margin: shared.$margin-common;
  & section {
    border-radius: shared.$border-common;
  }
  & section:nth-child(1) {
    grid-area: income;
    background-color: green;
  }
  & section:nth-child(2) {
    grid-area: expenses;
    background-color: red;
  }
  & section:nth-child(3) {
    grid-area: saving;
    background-color: blue;
  }
  & section:nth-child(4) {
    grid-area: balance;
    background-color: yellow;
  }
  & li {
    list-style-type: ordered;
    margin: 0;
    padding: 0;
  }
  & .error {
    color: red;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.5em;
  }
}

// create media  to make the grid so that all the sections are below each other when the screen is less than 1000px
@media (max-width: 1000px) {
  main {
    max-width: 60%;
    margin: shared.$margin-common;
    grid-template-areas:
      "income"
      "expenses"
      "saving"
      "balance";
  }
  .error {
    color: red;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1em;
  }
}
